apiVersion: apps/v1
kind: Deployment
metadata:
  name: microservice-cliente
spec:
  replicas: 2
  selector:
    matchLabels:
      app: microservice-cliente
  template:
    metadata:
      labels:
        app: microservice-cliente
    spec:
      containers:
      - name: microservice-cliente
        image: clienteacrharold.azurecr.io/microservice-cliente:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080

        env:
        - name: SPRING_DATASOURCE_URL
          value: jdbc:postgresql://postgres:5432/clientes_db
        - name: SPRING_DATASOURCE_USERNAME
          value: postgres
        - name: SPRING_DATASOURCE_PASSWORD
          value: postgres

        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"

        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10

        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 20
          periodSeconds: 10

---
apiVersion: v1
kind: Service
metadata:
  name: microservice-cliente-service
spec:
  type: LoadBalancer
  selector:
    app: microservice-cliente
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP